@use "variables" as *;

.header {
  height: 54px;
  display: flex;
  align-items: center;
  padding: 16px 16px;
  gap: 12px;
  color: #fff;
  backdrop-filter: blur(8px);
}

.left {
  display: flex;
  align-items: center;
  min-width: 0;
  flex: 1;
}

.title {
  font-size: 20px;
  font-weight: 700;
  max-width: 60vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleInput {
  font-size: 18px;
  font-weight: 700;
  background: #fff;
}

.right {
  display: flex;
  align-items: center;
  gap: 8px;
}
