$color-board-bg: rgb(46, 126, 175);
$color-list-bg: #ebecf0;
$color-text: #172b4d;
$color-accent: #373c41;

$radius-sm: 6px;
$radius-md: 0.2rem;
$radius-lg: 4px;

$list-width: 272px;

$font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
  "Segoe UI Emoji";
