@use "variables" as *;

.text {
  cursor: text;
  border-radius: $radius-sm;
  padding: 2px 6px;
  display: inline-block;
  user-select: none;

  &:hover {
    background: rgba(255, 255, 255, 0.14);
  }
}

.input {
  width: 100%;
  border-radius: $radius-sm;
  padding: 6px 10px;
  border: 2px solid rgba(0,0,0,0.15);
  outline: none;
  font-size: inherit;
  font-family: inherit;

  &:focus {
    border-color: $color-accent;
    box-shadow: 0 0 0 3px rgba($color-accent, 0.25);
  }
}
